<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.mybatis.mapper.EmpMapper">

    <!--
        id: 唯一标识
        type: 返回值类型
        子标签:
            id: 设置主键的映射关系
            result: 普通字段的映射关系
            column: sql语句查询出来的字段名
            property: 属性名
      -->
    <resultMap id="resultEmpMap" type="Emp">
        <id column="eid" property="eid"></id>
        <result column="emp_name" property="empName"/>
        <result column="age" property="age"></result>
        <result column="sex" property="sex"></result>
        <result column="email" property="email"></result>
    </resultMap>

    <select id="queryEmp" resultMap="resultEmpMap">
        <!--    select eid, emp_name empName, age, sex, email, did from t_emp;-->
        select * from t_emp;
    </select>
    
    <select id="queryEmpByDept" resultMap="empAndDeptResultMap" >
        select * from t_emp left join t_dept on t_emp.did = t_dept.did where t_emp.eid = #{eid}
    </select>
    
    <resultMap id="empAndDeptResultMap" type="Emp">
        <id column="eid" property="eid"></id>
        <result column="emp_name" property="empName"></result>
        <result column="age" property="age"></result>
        <result column="sex" property="sex"></result>
        <result column="email" property="email"></result>
<!--        <result column="did" property="dept.did"></result>-->
<!--        <result column="dept_name" property="dept.deptName"></result>-->

        <!--
            association: 处理多对一映射关系
            property: 需要处理的多对一的属性名
            javaType: 该属性的类型
        -->
<!--        <association property="dept" javaType="Dept">-->
<!--            <id column="did" property="did"></id>-->
<!--            <result column="dept_name" property="deptName"></result>-->
<!--        </association>-->

        <!--
            select: 设置分步查询sql的唯一标识，全类名 + 方法名

            fetchType: 可以指定是延迟加载还是立即加载
            fetchType = "eager|lazy  eager: 表示立即加载  lazy: 表示延迟加载
         -->
        <association
                property="dept"
                select="com.atguigu.mybatis.mapper.DeptMapper.queryEmpAndDeptByStepTwo"
                column="did"
                fetchType="lazy"
        >
        </association>
    </resultMap>

    <select id="queryEmpAndDeptByStepOne" resultMap="empAndDeptResultMap">
        select * from t_emp where eid = #{eid}
    </select>

    <select id="queryDeptAndEmpByStepTwo" resultType="emp">
        select * from t_emp where did = #{did}
    </select>
</mapper>